body {
  font-family: 'Roboto', sans-serif;
  display: flexbox;
  margin: 0;
  padding: 0;
  border: 0;
}

.hero1 {
  background-color: #1f2937;
}

.hero1 nav ul li{
  list-style: none;
  text-decoration: none;
  color: #e5e7eb;
}